.whyChooseUs {
  background: url(../assets/event.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  width: 100%;
  height: 100%;
}

.celebrate {
  background: url(../assets/celebrate.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  color: #edf4ed;
}

.celebrate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  .celebrate {
    padding: 50px 0;
  }
}
