.heroSection {
  background: url(../assets/hero-bg.jpg) center center;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  z-index: 1;
  color: #fff;
}
.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.heroContent {
  padding: 0 40px;
}

/*  style={{
                fontSize: 64,
                color: "#fff",
                display: "block",
                padding: 4,
                marginBottom: 20,
                backgroundColor: "#959fa9",
                border: "1px solid #ddd",
                borderRadius: 4,
                transition: "border .2s ease-in-out",
              }} */

/* .featuresIcon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #fff;
  background-color: #959fa9;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
} */

/* make features icons border like a diamond */
.featureIcon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  color: #edf4ed !important;
  background-color: #1f3c4a;
  border: 1px solid #ddd;
  border-radius: 30px 5px 30px 5px;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}

/* .feature:hover .featureIcon:hover {
  border: 1px solid #edf4ed;
  background-color: #43934a;
} */

.feature:hover .featureIcon {
  border: 1px solid #edf4ed;
  background-color: #43934a;
}
